.avatar {
  border-radius: 50%;
  overflow: hidden;
  display: flex;
  align-items: center;

  &.medium {
    height: 50px;
    width: 50px;
  }

  &.small {
    height: 30px;
    width: 30px;
  }

  img {
    display: block;
    width: 100%;
  }
}
