$h_padding: 15px;
$v_padding: 10px;

.card {
  width: 100%;
  border-radius: 16px;
  background-color: $dark2;
  box-sizing: border-box;
  overflow: hidden;
  margin-bottom: 10px;

  > * {
    width: 100%;
  }

  header {
    padding: $h_padding;
    box-sizing: border-box;
    border-bottom: 1px solid $dark4;
  }

  main {
    padding: $v_padding;
    box-sizing: border-box;
    display: block;

    .profile_wrap {
      margin-bottom: 0;
      position: relative;

      &:not(:last-child) {
        padding-bottom: $v_padding;

        &::after {
          content: "";
          position: absolute;
          width: 200%;
          height: 1px;
          left: -$h_padding;
          bottom: 0;
          background-color: $dark4;
        }
      }

      &:not(:first-child) {
        padding-top: $v_padding;
      }
    }

    .news {
      display: flex;
      align-items: center;
      justify-content: space-between;
      position: relative;

      &:not(:last-child) {
        padding-bottom: $v_padding;

        &::after {
          content: "";
          position: absolute;
          width: 200%;
          height: 1px;
          left: -$h_padding;
          bottom: 0;
          background-color: $dark4;
        }
      }

      &:not(:first-child) {
        padding-top: $v_padding;
      }

      .left {
        .info {
          display: flex;
          margin-bottom: 5px;

          .separator {
            padding: 0 5px;

            span {
              color: $dark6;
            }
          }
        }

        .content {
          margin-bottom: 5px;
        }
      }

      .right {
        .img {
          height: 70px;
          width: 70px;
          border-radius: 12px;
          background-color: $dark4;
          margin-left: 15px;
          overflow: hidden;

          img {
            height: 70px;
            width: 70px;
            -o-object-fit: cover;
            -o-object-position: center;
            object-fit: cover;
            object-position: center;
          }
        }
      }
    }
  }

  footer {
    padding: $h_padding;
    cursor: pointer;
    box-sizing: border-box;
    border-top: 1px solid $dark4;

    &:hover {
      background-color: $dark3;
    }
  }
}
