.modal_wrapper {
  .modal_overlay {
    position: absolute;
    z-index: 3;
    inset: 0;
    background-color: rgba(0, 0, 0, 0.4);
    cursor: pointer;
  }

  .modal {
    position: absolute;
    z-index: 4;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    background-color: $dark3;
    padding: 10px 120px 50px;
    border-radius: 16px;

    .modal_close {
      position: absolute;
      top: 10px;
      left: 10px;
      cursor: pointer;
    }
  }
}
