.tweet {
  width: 100%;
  border-bottom: $border;
  display: flex;
  padding-bottom: 10px;
  padding-right: 10px;
  box-sizing: border-box;

  > header {
    display: flex;
    padding: 10px 15px 0 15px;
  }

  main {
    width: 100%;
    display: block;

    header {
      display: flex;
      padding: 10px 15px 5px 0;
      flex-basis: max-content;
      align-items: center;

      h3 {
        margin-right: 5px;
      }

      .info_wrap {
        display: flex;
        align-items: stretch;
      }
      p {
        margin-right: 5px;
        color: $dark6;
        display: flex;
        align-items: center;

        &.separator {
          display: flex;
          align-items: center;
        }

        span {
          display: inline;
        }
      }
    }

    .content {
      margin-bottom: 15px;
    }
  }

  footer {
    width: 85%;
    display: flex;
    justify-content: space-between;

    .tweet_action {
      display: flex;
      align-items: center;
      cursor: pointer;

      .info,
      div::before {
        transition: all 0.3s ease;
      }

      &:hover {
        &.blue {
          div::before {
            background-color: $primary;
          }

          svg path {
            fill: $primary;
          }

          p {
            color: $primary;
          }
        }

        &.red {
          div::before {
            background-color: $red;
          }

          svg path {
            fill: $red;
          }

          p {
            color: $red;
          }
        }

        &.green {
          div::before {
            background-color: $green;
          }

          svg path {
            fill: $green;
          }

          p {
            color: $green;
          }
        }
      }

      div {
        margin-right: 10px;
        position: relative;
        display: flex;

        &::before {
          content: "";
          position: absolute;
          display: block;
          width: 1px;
          height: 1px;
          padding: 14px;
          border-radius: 50%;
          left: 50%;
          top: 50%;
          transform: translate(-50%, -50%);
          opacity: 0.15;
        }
      }

      .info {
        font-size: 0.75rem;
      }
    }
  }
}
