$black: #0f1419;
$dark1: #17202a;
$dark2: #1c2733;
$dark3: #283340;
$dark4: #3a444c;
$dark5: #5b7083;
$dark6: #8899a6;
$dark7: #ebeef0;
$dark8: #f7f9fa;
$primary: #1da1f2;
$primaryhover: #1a8cd8;
$white: #ffffff;
$red: #f4245e;
$green: #00ba7c;