* {
  padding: 0;
  margin: 0;
  list-style: none;

  button {
    cursor: pointer;
  }

  main {
    box-sizing: border-box;
    height: 100%;
    display: flex;

    .main_content {
      min-height: 100vh;
      border-right: $border;
    }

    .side_column {
      min-height: 100vh;
    }
  }
}
