@import url("https://fonts.googleapis.com/css2?family=Roboto:wght@400;700&display=swap");

@font-face {
  font-family: TwitterChirp;
  src: url(https://abs.twimg.com/responsive-web/client-web/Chirp-Light.3a18e64a.woff2)
      format("woff2"),
    url(https://abs.twimg.com/responsive-web/client-web/Chirp-Light.7a5673aa.woff)
      format("woff");
  font-weight: 300;
  font-style: "normal";
  font-display: "swap";
}
@font-face {
  font-family: TwitterChirp;
  src: url(https://abs.twimg.com/responsive-web/client-web/Chirp-Regular.80fda27a.woff2)
      format("woff2"),
    url(https://abs.twimg.com/responsive-web/client-web/Chirp-Regular.60b215ba.woff)
      format("woff");
  font-weight: 400;
  font-style: "normal";
  font-display: "swap";
}
@font-face {
  font-family: TwitterChirp;
  src: url(https://abs.twimg.com/responsive-web/client-web/Chirp-Medium.f8e2739a.woff2)
      format("woff2"),
    url(https://abs.twimg.com/responsive-web/client-web/Chirp-Medium.20fc288a.woff)
      format("woff");
  font-weight: 500;
  font-style: "normal";
  font-display: "swap";
}
@font-face {
  font-family: TwitterChirp;
  src: url(https://abs.twimg.com/responsive-web/client-web/Chirp-Bold.ebb56aba.woff2)
      format("woff2"),
    url(https://abs.twimg.com/responsive-web/client-web/Chirp-Bold.a573679a.woff)
      format("woff");
  font-weight: 700;
  font-style: "normal";
  font-display: "swap";
}
@font-face {
  font-family: TwitterChirp;
  src: url(https://abs.twimg.com/responsive-web/client-web/Chirp-Heavy.f44ae4ea.woff2)
      format("woff2"),
    url(https://abs.twimg.com/responsive-web/client-web/Chirp-Heavy.d70ec7ca.woff)
      format("woff");
  font-weight: 800;
  font-style: "normal";
  font-display: "swap";
}
@font-face {
  font-family: TwitterChirpExtendedHeavy;
  src: url(https://abs.twimg.com/fonts/v1/chirp-extended-heavy-web.woff2)
      format("woff2"),
    url(https://abs.twimg.com/fonts/v1/chirp-extended-heavy-web.woff)
      format("woff");
  font-weight: 800;
  font-style: "normal";
  font-display: "swap";
}

h2 {
  font-size: 1.25rem;
  font-family: TwitterChirp;
  font-weight: 700;

  &.LightTheme {
    color: $black;
  }

  &.DarkTheme {
    color: $white;
  }
}

h3 {
  font-size: 1rem;
  font-family: TwitterChirp;
  font-weight: 700;

  &.LightTheme {
    color: $black;
  }

  &.DarkTheme {
    color: $white;
  }
}

p {
  &.info {
    font-family: TwitterChirp;
    font-size: 0.875rem;
    font-weight: 400;

    a {
      padding-left: 5px;
    }

    &.LightTheme {
      color: $dark5;
    }

    &.DarkTheme {
      color: $dark6;
    }
  }

  &.content {
    font-family: TwitterChirp;
    font-size: 1rem;
    font-weight: 400;

    &.LightTheme {
      color: $black;
    }

    &.DarkTheme {
      color: $white;
    }
  }
}

input {
  font-family: TwitterChirp;
  outline: none;

  &::placeholder {
    font-family: TwitterChirp;
    color: $dark6;
  }
}

textarea {
  font-family: TwitterChirp;

  &::placeholder {
    font-family: TwitterChirp;
    color: $dark6;
  }
}

a {
  font-family: TwitterChirp;
  color: $primary;
  text-decoration: none;

  &:visited {
    color: $primary;
    text-decoration: inherit;
  }
}
