.App {
  min-height: 100vh;
  display: flex;
  flex-direction: row;
  justify-content: center;

  &.LightTheme {
    background-color: $white;
  }

  &.DarkTheme {
    background-color: $dark1;
  }

  .main_content {
    width: 598px; // TODO : Responsive width
  }
}
