.explore {
  display: flex;
  align-items: stretch;
  justify-content: space-between;
  flex-grow: 1;
  flex-basis: auto;
  width: 100%;

  .main_content {
    min-height: 100vh;
    max-width: 600px;
    width: 100%;

    h2 {
      padding: 15px;
    }

    .search_wrap {
      padding: 5px 10px 0;
      border-bottom: $border;

      .search {
        margin-bottom: 8px;
      }
    }
  }

  .side_column {
    .card {
      p {
        &.info {
          margin-bottom: 20px;
        }
      }

      .register {
        margin-bottom: 20px;

        button {
          margin-bottom: 15px;
        }
      }
    }
  }
}
